html,body{
	padding:0px;
	margin:0px;
	height:100%;
	width:100%;
	background-color:rgb(245,245,245);	
}
.container
{
	width: 10padding-left:10px;22px;
	height: 100%;
	margin: 0 auto;	
	width:1100px;
}
			
.nav{
	background-color:rgb(248,248,248);		
	height:37px;
		
}
p.navigation-panel
{
	font-family:simsun;
	font-size:12px;
	color:#696969;
	padding-left:21px;
	padding-top:10px;
	padding-bottom:10px;
	margin:0 auto;
}

hr{
	height:1px;
	width:100%;
	background-color:rgb(225,225,225);
	border:0;
	margin:0;
}
.nav-link{
	float:left;
	display:inline-block;
	margin:0;
	padding:0;
}
a.nav:link,a.nav:visited
{
	color:#000000;
	font-size:12px;
	text-decoration:none;
	
}
a.nav:hover,a.nav:active
{
	color:rgb(206,38,122);
	text-decoration:underline;
}
.header{
	height:125px;
	
}

#logo
{
	margin:30px 12px 14px auto;
	width:187px;
	cursor:pointer;
	padding-left:21px;
	float:left;
	}
#location{
	margin:44px 0px 10px 0px;
	border:3px solid rgb(230,230,230);
	width:80px;
	height:16px;
	background-color:white;
	float:left;
	padding-top:8px;
	padding-bottom:8px;
}
span.current-location{
	color:rgb(51,51,51);
	font-size:14px;
	font-family:simsun;
	font-weight:bold;
	padding-left:10px;
	cursor:pointer;
	float:left;
}
#pull-down-button{
	float:right;
	cursor:pointer;
	background:url(./images/index-footer-button.png) no-repeat -236px -165px transparent;
	height:16px;
	width:17px;
	margin-top:0px;
	margin-right:7px;
}
#search
{	
	margin:44px auto 15px 330px;
	background:url(./images/index-footer-button.png) no-repeat 0 0 transparent;
	height:43px;
	width:363px;
	float:left;
}

.menu{
	width:100%;
	margin:0 auto;
	
}

ul.list{
	background:url(./images/index-footer-button.png) repeat 0px -55px;
	width:363px;
	height:44px;
	list-style-type:none;
	overflow:hidden;
    margin:0;
	width:100%;
	padding:0;
	
}
li.list{
	float:left;
	margin:0;
	padding:0;
}
a.home-page:link
{
	display:block;
	background:url(./images/index-footer-button.png) no-repeat 0px -109px;
	width:120px;
	height:43px;
	font-size:16px;
	font-family:微软雅黑;
	text-align:center;
	text-decoration:none;
	padding-top:8px;
	margin-left:21px;
	color:white;
}
a.home-page:visited,a.home-page:active,a.home-page:hover{
	border:none;
}
a.option:link
{
	display:block;
	background:url(./images/index-footer-button.png) no-repeat 0px -280px;
	width:118px;
	height:43px;
	font-size:16px;
	font-family:微软雅黑;
	text-align:center;
	text-decoration:none;
	padding-top:8px;
	color:white;
}
a.option:visited,a.option:active,a.option:hover{
	background:url(./images/index-footer-button.png) repeat -116px -109px;
	width:118px;
	height:43px;
	color:white;
}
a.direct-buy:link,a.direct-buy:visited
{
	display:block;
	background:url(./images/index-footer-button.png) repeat -235px -109px;
	width:115px;
	height:44px;
	margin-left:272px;
	
}
.hot{
	margin:8px auto 6px auto;
	height:320px;

	}


#effect-left{
	background:url(./images/video.png) no-repeat -307px -18px transparent;
	height:325px;
	width:21px;
	float:left;
	margin-top:20px;
	margin-left:0;
}
#effect-right{
	float:left;
	background:url(./images/video.png) no-repeat -334px -18px transparent;
	height:325px;
	width:21px;
	margin-top:20px;
	
}
#bottom-effect{
	/*img标签不要使用background属性*/
	/*可以使用span*/
	background:url(./images/video.png) repeat 0px -359px transparent;
	width:980px;
	height:26px;
	clear:both;
	position:relative;
	bottom:45px;
	left:21px;
	display:block;/*由于inline元素没有内容默认的width为0，所以要设置其block*/
}
.introduction
{   float:left;
	background:url(./images/video.png) no-repeat 0px 0px transparent;
	height:290px;
	width:290px;
	margin:0px;
	padding-top:10px;
	

}
#film-name{
	font-weight:500;
	color:white;
	font-size:25px; 
	font-family:微软雅黑;
	margin:0;
	padding-left:25px;
	
}
#sex{
	margin:0;
	padding-left:30px;
	padding-top:0;
	padding-right:30px;
	color:white;
	font-size:13px;
	font-family:simsun;
	font-weight:300;
	line-height:0.6cm;
	white-space:pre-wrap;
	text-indent:2em;
	height:180px;
}

#choose-ticket{
	height:37px;
	width:125px;
	background:url(./images/video.png) no-repeat 0px -306px;
	margin-top:20px;
	margin-left:80px;
	border:0;
}

.film-section{
	
	border:0.5px solid rgb(225,225,225);
	background-color:white;
	height:645px;
	width:668px;
	padding-left:20px;
	padding-bottom:7px;
	padding-top:0px;
	margin-left:21px;
	margin-top:0px;
	float:left;
	
}
#line{
	display:inline;
}
#online{
	padding-right:20px;
	font-size:16px;
	color:rgb(206,38,122);
	font-family:微软雅黑;
	font-weight:400;
}
#upcoming{
	padding:16px 494px 10px 20px;
	font-size:16px;
	color:grb(51 51 51);
	background:rgb(243,243,243) repeat;
	border-left:0.5px solid silver;
	border-bottom:0.5px solid silver;
	font-family:微软雅黑;
	font-weight:400;
	
}
#more-film{
	
	background:url(./images/indexto.png) no-repeat 0px -50px transparent;
	width:60px;
	height:21px;
	color:white;
	font-size:12px;
	float:right;
	position:relative;
	z-index:1;
	top:-20px;
	right:20px;
	text-align:center;
	
}
.box{
	margin-top:25px;
	width:151px;
	margin-right:16px;
	float:left;
}
.box2{
	margin-top:4px;
	margin-right:15px;
	float:left;
	
}
.buy{
	height:30px;
	width:125px;
	background:url(./images/index-footer-button.png) no-repeat 0px -165px transparent;
	color:black;
	font-size:11px;
	padding:6px 15px 8px 12px;
	font-family:微软雅黑;
	
	
}
.text{
	font-size:16px;
	line-height:6px;
	text-align:center;
	font-family:微软雅黑;
}


img.film{
	height:203px;
	width:145px;
}
.sidebar{
	float:left;
	width:274px;
}
.login{
	color:rgb(206,38,122);
	font-size:24px;
	font-weight:500;
	background:url(./images/wx.png) no-repeat 0px 0px ;
	width:274px;
	height:74px;
	text-align:center;
	font-family:微软雅黑;
	padding-top:15px;
}
.weibo-surrounding{
	margin-top:0px;
	background-color:white;
	border:1px solid rgb(225,225,225);
	padding:9px 5px 7px 7px;
}
.weibo{
	background:url(./images/wx.png) no-repeat 0px -104px ;
	width:260px;
	height:71px;
	border:none;
	
}
.weixin-surrounding{
	margin-top:8px;
	background-color:white;
	border:1px solid rgb(225,225,225);
	padding:7px;
}
.weixin{
	background:url(./images/wx.png) no-repeat 0px -195px ;
	width:260px;
	height:162px;
	border:none;
}
.rankinglist{
	
	border:1px solid rgb(225,225,225);
	margin-top:8px;
	height:278px;
	
}
ol.ranking{
	margin:0;
	list-style-type:decimal;
	
}
li.ranking{
	padding-top:8px;
	padding-bottom:7px;
	height:20px;
	width:215px;
	border-bottom:1px dotted rgb(225,225,225);
	font-size:12px;
}
a.ranking{
	display:block;
	
}
.event{
	width:100%;
	height:335px;
	border:1px solid rgb(225,225,225);
	padding-left:15px;
	padding-top:13px;
	padding-right:20px;
	margin-left:21px;
	margin-top:10px;
	background-color:white;
}
#more-event{
	background:url(./images/indexto.png) no-repeat 0px -50px ;
	width:60px;
	height:21px;
	color:white;
	font-size:12px;
	text-align:center;
	float:right;
	position:relative;
	right:-234px;
}
.event-box{
	padding-top:10px;
	padding-right:14px;
	padding-left:0px;
	margin:0;
	float:left;
	width:300px;
}

.event-name{
	font-size:16px;
	line-height:30px;
	text-align:left;
	font-weight:400;
}
.event-time{
	font-size:12px;
	text-align:left;
	color:silver;
	letter-spacing:1px;
}
.detail{
	height:32px;
	width:90px;
	background:url(./images/index-footer-button.png) no-repeat 0px -209px transparent;
	color:white;
	font-size:14px;
	margin-top:12px;
	font-family:微软雅黑;
	padding-top:5px;
	
}
.cinema{
	width:100%;
	height:300px;
	border:1px solid rgb(225,225,225);
	padding-left:15px;
	padding-top:13px;
	padding-right:15px;
	margin-left:21px;
	margin-top:10px;
	background-color:white;
	
}

#more-cinema{
	background:url(./images/indexto.png) no-repeat 0px -50px ;
	width:60px;
	height:21px;
	color:white;
	font-size:12px;
	text-align:center;
	float:right;
	position:relative;
	right:-543px;
}
.cinema-box{
	margin-top:10px;
	margin-right:18px;
	margin-left:0px;
	float:left;
	width:222px;
	height:222px;
}


.cinema-logo{
	border:1px solid rgb(225,225,225);
	border-bottom:none;
	width:100%;
	height:177px;
	margin:0;
	padding:0;
}

.cinema-name{
	background-color:rgb(159,203,87);
	width:100%;
	height:30px;
	border:none;
	color:white;
	font-size:14px;
	font-weight:600;
	padding-left:10px;
	padding-right:10px;
	padding-top:0;
	margin:0;
}

.link{
	
	border:1px solid rgb(225,225,225);
	color:gray;
	font-size:12px;
	padding-left:15px;
	padding-top:15px;
	width:966px;
	height:35px;
	margin-top:10px;
	margin-left:21px;
	font-family:微软雅黑;
	display:block;
}
.footer{
	border-top:1px solid rgb(225,225,225);
	border-bottom:1px solid rgb(225,225,225);
	width:985px;
	height:170px;
	padding-top:10px;
	padding-right:0px;
	margin-left:21px;
	margin-top:10px;
	background:white;
	
}
.section{
	float:left;
	border-left:0.5px solid rgb(225,225,225);
	height:135px;
	margin:20px;
	display:inline-block;
}

ul.column{
	padding-top:0px;
	list-style-type:none;
	padding-left:20px;
	font-size:12px;
	color:rgb(102,102,102);
	border:none;
	margin:0;
}
li{ 
	
	padding-bottom:7px;
}

#icon{
	display:inline-block;
	background:url(./images/index-footer-button.png) no-repeat -7px -246px ;
	height:28px;
	width:29px;
	margin-left:20px;
}
span.heading{
	color:rgb(223,72,150);
	font-size:18px;
	margin-top:0px;
	margin-left:0px;
	position:relative;
	top:-10px;
}
.copyright{
	clear:both;
	margin:0;
	padding:0;
	font-size:12px;
	white-space:pre;
	text-align:center;
	margin:0;
	color:grb(51,51,51);
	line-height:23px;
	height:100px;
}