body{
	padding:0px;
	margin:0px;
	background-color:rgb(245,245,245)	
}
hr{
	height:1px;
	width:100%;
	border:1px solid silver;
	border-bottom:none;
	padding:0px;
	margin:0px;
}
p.navigation-panel
{
	background-color:rgb(248,248,248);	
	font-family:simsun;
	font-size:12px;
	color:#696969;
	padding-left:222px;
	padding-top:10px;
	padding-bottom:10px;
	margin:0px;
	
}
a:link,a:visited
{
	color:#000000;
	font-size:12px;
	text-decoration:none;

}
a:hover,a:active
{
	color:rgb(206,38,122);
	text-decoration:underline;
}
#logo
{
	position:absolute;
	left:222px;
	top:62px;
	cursor:pointer;
}
#location{
	position:absolute;
	margin-left:422px;
	margin-top:40px;
	border:3px solid rgb(230,230,230);
	width:80px;
	height:30px;
	background-color:white;
	
}
span.current-location{
	color:rgb(51,51,51);
	font-size:14px;
	font-family:simsun;
	font-weight:bold;
	position:absolute;
	padding-top:7px;
	padding-left:10px;
	cursor:pointer;
}
#pull-down-button{
	float:right;
	cursor:pointer;
	background:url(./images/index-footer-button.png) no-repeat -236px -165px transparent;
	height:16px;
	width:17px;
	margin-top:7px;
	margin-right:7px;
}
div.search
{
	position:absolute;
	margin-left:835px;
	margin-top:40px;
}
button.search-button{
	background-color:rgb(231,85,141);
	width:64px;
	height:41px;
	color:white;
	font-size:16px;
	font-family:微软雅黑;
	border:0.1px outset rgb(231,85,141);
	display:inline;
	
	
}


ul.list{
	background-color:rgb(206,38,122);
	list-style-type:none;
	width:100%;
	height:40px;
	position:absolute;
	margin-top:120px; 
	overflow:hidden;
	
	
}
li{
	float:left;
}
a.home-page:link
{
	display:block;
	width:60px;
	height:50px;
	font-size:16px;
	color:white;
	font-family:微软雅黑;
	text-align:center;
	text-decoration:none;
	border:0.1px outset rgb(208,67,140);
	padding:10px 30px;
	margin-left:182px;
	background-color:rgb(213,47,123);
    border:0.1px inset rgb(216,51,128)

}
a.home-page:visited,a.home-page:active,a.home-page:hover{
	border:none;
}
a.option:link
{
	display:block;
	width:65px;
	height:100px;
	font-size:16px;
	color:white;
	font-family:微软雅黑;
	text-align:center;
	text-decoration:none;
	border:0.1px outset rgb(208,67,140);
	padding:10px 20px;

}
a.option:visited,a.option:active,a.option:hover{
	background-color:rgb(213,47,123);
	border:0.1px inset rgb(216,51,128);
	color:white;
}
a.direct-buy:link,a.direct-buy:visited
{
	display:block;
	width:70px;
	height:50px;
	font-size:17px;
	color:white;
	font-family:微软雅黑;
	text-align:center;
	text-decoration:none;
	border:none;
	padding:10px 30px;
	background-color:rgb(245,186,66);
	margin-left:302px;
}
div.focus
{
    position:absolute;
	margin-top:170px;
	margin-left:195px;
	
}
#effect-left{
    float:left;
	background:url(./images/video.png) no-repeat -307px -18px transparent;
	height:325px;
	width:27px;
}
p.introduction
{   float:left;
	background:url(./images/video.png) no-repeat 0px 0px transparent;
	height:302px;
	width:290px;
	margin:0px;
	

}
#film-name{
	font-weight:500;
	color:white;
	font-size:25px; 
	font-family:微软雅黑;
	position:absolute;
	padding-top:10px;
	padding-left:40px;
}
#sex{
	position:absolute;
	padding-left:40px;
	padding-top:60px;
	padding-right:65px;
	color:white;
	font-size:13px;
	font-family:simsun;
	font-weight:300;
	line-height:0.6cm;
	white-space:normal;
	
}
#effect-right{
	float:left;
	background:url(./images/video.png) no-repeat -334px -18px transparent;
	height:325px;
	width:27px;
	
}
#choose-ticket{
	background:url(./images/video.png) no-repeat 0px -307px transparent;
	height:39px;
	width:127px;
	position:absolute;
	margin-top:250px;
	margin-left:80px;
}
#bottom-effect{
	background:url(./images/video.png) no-repeat 0px -360px transparent;
	width:375px;
	height:28px;
	
}

