p.a
{
font-family:simsun;
font-size:12px;
color:#696969;
margin-left:200px;
margin-top:10px
}
p.b
{
font-family:simsun;
color:#000000;
font-size:12px;
}
a:link,a:visited
{
color:#000000;
font-size:12px;
text-decoration:none;

}
a:hover,a:active
{
color:#FE007F;
text-decoration:underline;
}
